* {
  font-family: 'Karla';
}
/* Universal Rules */
html body {
  font-family: 'Karla', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}


a, body, button, div, footer, form, h1, h2, h3, header, html, img, input, label, li, nav, p, select, span, table, textarea, ul {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  text-decoration: none;
}

/* Home Section */

#home {
  position: relative;
}
/* Background Video */
.bg-video {
  position: absolute;
  top: 180%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}
/* Navigation */
.navbar {
  position: absolute;
  padding: 0!important;
  left:;
  z-index: 1;
}

.navbar .logo a {
  text-decoration: none;
  font-size: 1.3em;
  color: white;
  transition: 0.8s;
}

.home-logo .logo a:hover {
  color: #687aa8;
  text-decoration: none;
}

.home-logo {
  position: relative;
  left: 10%;
  font-size: 0.87em;
  font-weight: 700;
}

.home-logo .logo img {
  width: 12em;
  height: 12em;
}


.navbar .home-nav {
  display: inline-block;
  color: #687aa8;
  font-size: 1.2em;
  height: 110px;
  background-color: #1a284d;
  font-weight: 700;
  /* margin-top: -80px; */
  position: absolute;
  top: 0;
  right: 0;
}

.home-nav span {
  padding: 0 35px 0 35px;
  position: relative;
  top: 36%;
}

.home-nav a {
  color:#687aa8;
  transition: 0.5s;
}

.home-nav a:hover {
  color: white;
  text-decoration: none;
}

.home-nav .highlight a {
  color: white;
}

/* Hero */
.hero {
  width: 720px;
  color: white;
  margin: 2% auto 0;
}

.hero h1 {
  font-size: 3.2em;
  text-align: center;
  font-weight: 700;
}

.hero-info {
  position: absolute;
  width: 280px;
  left: 2%;
  bottom: -110%;
}

.hero-info h5 {
  color: white;
  font-size: 1em;
}

.hero-info p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7em;
  letter-spacing: 1px;
  font-weight: 700;
}

/* Home Bottom */
.learn-more {
  position: absolute;
  bottom: -520px;
  left: 0;
  height: 80px;
  width:309px;
  background-color: white;
  transition: 0.8s;
}

.learn-more-text {
  text-align: center;
  padding-top:27px;
  font-weight: 700;
  color: #3a478f;
  font-size: 1.35em;
}

.learn-more-text i {
  padding-left: 10px;
}

.learn-more-text a {
  color: #3a478f;
  text-decoration: none;
  transition: .7s;
}

.learn-more:hover i {
  color: white;
}

.learn-more:hover a {
  color: white;
  text-decoration: none;
}

.learn-more:hover {
  background-color: #3a478f;
}

.home-contact {
  position: absolute;
  bottom: -400px;
  right:100px;
}

.call-2-action {
  border: 1px solid #608ad8;
  border-radius: 60px;
  background: #608ad8;
  padding: 15px 35px;
  text-align: center;
  color: white;
  width: 175px;
  height: 55px;
  font-weight: 700;
  transition: .8s
}

.call-2-action i {
  padding-left: 6px;
  font-size: 18px;
  vertical-align: middle;
}

.call-2-action a {
  text-decoration: none;
  color: white;
}

.call-2-action:hover {
  background: white;
}

.call-2-action:hover a {
  text-decoration: none;
  color: #608ad8;
}

.call-2-action:hover i {
  color: #608ad8;
}

.follow-us {
  position: absolute;
  color: white;
  text-decoration: none;
  bottom: -100px;
  padding-top: 40px;
}

.follow-us a {
  text-decoration: none;
  color: #8799be;
  padding: 0 10px;
}

.follow-us a:hover {
  text-decoration: none;
  color: #8799be;
  opacity: 0.6;
}

/* About Section */

#about {
  position: absolute;
  background-color: #f2f5fa;
  height: 800px;
  top: 54.2em;
}

.about-left {
  background-color: white;
  width: 309px;
  padding: 37px 0 40px;
  text-align: center;
}

.about-left ul {
  list-style: none;
}

.about-left i {
  padding-right: 20px;
}

.about-left li {
  height: 48px;
  line-height:48px;
  color: #3a4796;
  font-weight: 700;
  font-size: 1.2em;
  transition: .5s;
}

.about-left a:hover {
  text-decoration: none;
}

.about-left li:hover {
  color: #608ad8;
}

.about-right {
  display: inline-block;
  float: right;
  width: auto;
  max-width: 50%;
  color: #3a478f;
  padding: 154px 0 234px;
  margin: 0 216px 0 0;
}

.about-right h1 {
  font-size: 2.8125em;
  font-weight: 700;
  padding-top: 100px;
}

.about-right p {
  font-size: 1.25em;
  color: #627792;
  padding-top: 60px;
}

about-indicator {
  color: #627792;
}

/* Indicator that next section is coming */
.about-services {
  position: absolute;
  bottom: 0px;
  right: 50%;
  width: 340px;
  height: 90px;
  background-color: white;
  text-align: center;
}

#about-services-p {
  padding-top: 35px;
  color: #3a478f;
  font-size: 1em;
}

/* Services Section */

#services {
  position: absolute;
  background-color: #f2f5fa;
  height: 1400px;
  width: 100%;
  top: 104em;
}

.services-row1-left {
  width: 50%;
  background-color: #608ad8;
  padding: 0!important;
}

.services-row1-right {
  width: 50%;
  background-color: white;
  padding: 0!important;
}

.services-row1-video {
  min-width: 100%;
  min-height: 100%;
}

.services-row2-left {
  width: 50%;
  background-color: white;;
}

.services-row2-right {
  width: 50%;
  background-color: white;
  padding: 0!important;
}

.services-row1-h4 {
  font-size: 2.4em;
  color: #3a478f;
  padding-left: 140px;
  padding-top: 150px;
  font-weight: 700;
}

.services-row1-p {
  color: #627792;
  padding-left: 80px;
  padding-right:80px;
  padding-top: 100px;
  font-size: 1em;
}

.services-row1-right p {
  color: #627792;
  padding-left: 80px;
  padding-right:80px;
}


.services-row2-h4 {
  color: #3a478f;
  padding-left: 140px;
  padding-top: 150px;
  font-weight: 700;
  font-size: 2.4em;
}

/* Add padding-top to the first h4 on the #services section, row2 */
.first {
  padding-top: 150px;
  padding-bottom: 80px;
}

.services-row2-p {
  color: #627792;
  padding-left: 80px;
  padding-right:80px;
  font-size: 1em;
}

.nowin-services-p {
  text-align: center;
  font-size: 25px;
  color: #627792;
}


/* Map Section */

#map {
  position: absolute;
  width: 100%;
  top: 378.6em;
}

iframe {
  width: 100%!important;
}

/* Testimonials Section */

#testimonials {
  position: absolute;
  background-color: white;
  height: 1400px;
  width: 100%;
  top: 233em;
}

.testimonials-row1-left {
  width: 50%;
  background-color: #608ad8;
  padding: 0!important;
}

.testimonials-row1-right {
  width: 50%;
  background-color: white;
  padding: 0!important;
}

.testimonials-row1-img {
  width: 100%;
  height: 100%;
}

.testimonials-row2-left {
  width: 50%;
  background-color: white;;
}

.testimonials-row2-right {
  width: 50%;
  background-color: white;
  padding: 0!important;
}

.testimonials-row1-h4 {
  font-size: 2.4em;
  color: #3a478f;
  padding-left: 140px;
  padding-top: 150px;
  font-weight: 700;
}

.testimonials-row1-p {
  color: #627792;
  padding-left: 80px;
  padding-right:80px;
  padding-top: 100px;
  font-size: 1em;
}

.testimonials-row1-right p {
  color: #627792;
  padding-left: 80px;
  padding-right:80px;
}


.testimonials-row2-h4 {
  color: #3a478f;
  padding-left: 140px;
  padding-top: 150px;
  font-weight: 700;
  font-size: 2.4em;
}


.testimonials-row2-p {
  color: #627792;
  padding-left: 80px;
  padding-right:80px;
  font-size: 1em;
}

/* Contact Section / Form */

#contact {
  position: absolute;
  top: 335em;
  background-color: #22325e;
  height: 700px;
  width: 100%;
  color: white;
}

.form-h1 {
  text-align: center;
  padding-top: 100px;
}

.form-h3 {
  text-align: center;
  padding-bottom: 100px;
}

/* Carousel  */

.carousel img {
  display: block;
  height: 600px;
}

/* Footer Section */

#footer {
  position: absolute;
  top: 413.02em;
  height: auto;
  width: 100%;
  background-color: #203260;
  color: white;
}

.footer-h1 {
  text-align: center;
  padding-top: 100px;
  font-weight: 700!important;
  font-size: 2em;
}

.footer-h1-logo {
  width: 50px;
  height: 50px;
  vertical-align:text-bottom;
  margin-right: 20px;
}

.footer-list {
  text-align: center;
}
.footer-list li {
  display: inline-block;
  padding: 55px 28px;
  font-size: 18px;
  font-weight: 700;
}

.footer-list li a {
  color: white;
  text-decoration: none!important;
  transition: 0.6s;
}

.footer-list li a:hover {
  color: #6982c0;
}

.copyright {
  text-align:center;
}

.footer-line {
  height: 1px;
  width: 100%;
  background-color: #263b72;
  position: absolute;
  top: 10px;
}

.footer-contact-row {
  padding-top: 100px;
  text-align: center;
}



.footer-phone a {
  color: white;
  text-decoration: none!important;
  padding: 0px 25px;
  transition: 0.5s;
}

.footer-phone a:hover {
  color: #6982c0;
}

.footer-email a {
  color: white;
  text-decoration: none!important;
}

.footer-email a:hover {
  color: #6982c0;
}

.footer-social {
  color: white;
}

.footer-social a {
  text-decoration: none!important;
  color: white;
  transition: 0.5s;
  padding: 0px 25px;
}

.footer-social a:hover {
  color: #6982c0;
}

.developer {
  color: #6982c0;
  padding-top: 50px;
}

.developer a {
  text-decoration: none!important;
  transition: 0.5s;
  color:#6982c0;
}

.developer a:hover {
  color: white;
}

/* Responsive design */

@media screen and (max-width: 1024px) {
     .bg-video {
       display: none;
     }

     #home {
       background-color: #22325e;
       height: 812px;
       position:static;
     }

     /* Navigation Media 375px */

     .navbar {
       position: fixed;
       text-align: center;
     }

     .navbar .home-nav {
       position: fixed;
       height: 90px;
       width: 100%;
       font-size: 1em;
     }

     .home-nav span {
       padding: 0 20px;
       top: 23px;
       text-align: center;
     }

     .home-logo {
       position: static;
       padding-top: 70px;
       margin: 0 auto;
     }

     /* Hero Media on #home 375px */

     .hero {
       width: 100%;
     }

     .hero h1 {
       font-size: 2.5em;
     }

     .hero-info {
       position: static;
       margin: 0 auto;
       padding-top: 60px;
     }

     .learn-more {
       display: none;
     }

     /* Call to Action Home Media 375px */

     .home-contact {
       position: static;
       padding-top: 30px;
     }

     .call-2-action {
       margin: 0 auto;
     }

     .follow-us {
       position: static;
     }

     .follow-us p {
       text-align: center;
     }

     /* About Section Media 375px */

     #about {
       position:static;
       height: auto;
       text-align: center;
     }

     .about-right {
       padding: 0;
       margin: 0 auto;
       max-width: 100%;
     }

     .about-right h1 {
       font-size: 1.8em;
       padding-top: 100px;
     }

     .about-right p {
       font-size: 0.9em;
       padding-bottom: 100px;
       padding-left: 10px;
       padding-right: 10px;
     }

     .about-indicator {
       display: none;
     }

     .about-services {
       display: none;
     }

     .about-left {
       display: none;
     }

     .about-right {
       float: none;
       width: 100%;
     }

     /* Services Section Media 375px */

     #services {
       position: static;
       height: auto;
     }

     .services-row1-video {
       display: none;
     }

     .services-row1-right {
       width: 100%;
     }

     .services-row1-left {
       display: none;
     }

     .services-row2-left {
       width: 100%;
     }

     .services-row1-h4 {
       font-size: 1.9em;
       padding-left: 0;
       text-align: center;
     }

     .services-row1-p {
       font-size: 0.9em;
       padding-left: 20px!important;
       padding-right: 20px!important;
       padding-top: 80px!important;
     }

     .services-row1-right p {
       font-size: 0.9em;
       padding-left: 20px!important;
       padding-right: 20px!important;
     }

     .services-row2-h4 {
       font-size: 1.9em;
       padding-left: 0;
       text-align: center;
     }

     .services-row2-p {
       padding-left: 20px!important;
       padding-right: 20px!important;
       font-size: 0.9em;
     }

     .nowin-services-p {
       padding-bottom: 80px;
     }

     #map {
       /* postion: static; */
       top: 384em;
     }

     #testimonials {
       position: static;
     }

     .testimonials-row1-img {
       width: 100%;
       height: 800px;
     }

     .testimonials-row1-h4 {
       font-size: 1.9em;
       text-align: center;
       padding-left: 0;
       padding-top: 100px;
     }

     .testimonials-row1-p {
       font-size: 0.9em;
       padding-left: 20px!important;
       padding-right: 20px!important;
       padding-top: 70px;
     }

     .testimonials-row2-h4 {
       font-size: 1.9em;
       text-align: center;
       padding-left: 0;
       padding-top: 100px;
     }

     .testimonials-row2-p {
       font-size: 0.9em;
       padding-left: 20px!important;
       padding-right: 20px!important;
       padding-top: 0px;
       padding-bottom: 50px;
     }

     #contact {
       /* position: static; */
       height: auto;
       top: 333em;
     }

     form{
       padding-bottom: 90px;
     }

     #footer {
       top: 418.4em;
     }

     .footer-line {
       display: none;
     }
}

@media screen and (max-width: 850px) {
  #contact {
    top: 338em;
  }
}

@media screen and (max-width: 820px) {
  #contact {
    top: 340em;
  }

  #map {
    top: 386em;
  }

  #footer {
    top: 420.4em;
  }
}

@media screen and (max-width: 767px) {
  #contact {
    top: 343em;
  }

  #map {
    top: 416em;
  }

  #footer {
    top: 450.3em;
  }
}

@media screen and (max-width: 650px) {
  #contact {
    top: 346em;
  }

  #map {
    top: 419em;
  }

  #footer {
    top: 453.4em;
  }
}

@media screen and (max-width: 640px) {
  #contact {
    top: 348em;
  }

  #map {
    top: 421em;
  }

  #footer {
    top: 455.4em;
  }
}

@media screen and (max-width: 610px) {
  #contact {
    top: 351em;
  }

  #map {
    top: 424em;
  }

  #footer {
    top: 458.4em;
  }
}

@media screen and (max-width: 580px) {
  #contact {
    top: 358em;
  }

  #map {
    top: 432em;
  }

  #footer {
    top: 466.4em;
  }

  .testimonials-row1-img {
    height: 600px;
  }
}

@media screen and (max-width: 430px) {
  #contact {
    top: 358em;
  }

  #map {
    top: 437em;
  }

  #footer {
    top: 471.4em;
  }

  .testimonials-row1-img {
    height: 500px;
  }
}
